%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

[
{ egara,
  [
    {
        imap, [ { archival, true },
                { message_events, [
                                    <<"FlagsClear">>,
                                    <<"FlagsSet">>,
                                    <<"MessageAppend">>,
                                    <<"MessageCopy">>,
                                    <<"MessageExpire">>,
                                    <<"MessageExpunge">>,
                                    <<"MessageMove">>,
                                    <<"MessageNew">>,
                                    <<"MessageRead">>,
                                    <<"MessageTrash">>
                                  ] },
                { mailbox_events, [
                                    <<"AclChange">>,
                                    <<"MailboxCreate">>,
                                    <<"MailboxDelete">>,
                                    <<"MailboxRename">>,
                                    <<"MailboxSubscribe">>
                                  ] },
                { session_events, [
                                    <<"Login">>,
                                    <<"Logout">>
                                  ] },
                { quota_events, [
                                    <<"QuotaChange">>,
                                    <<"QuotaExceeded">>,
                                    <<"QuotaWithin">>
                                ] }
              ]
    }
  ]
},
{ lager,
  [
    {
        handlers,
        [
            { lager_console_backend,info},
            { lager_file_backend, [ {file, "log/error.log"}, { level, error } ] },
            { lager_file_backend, [ {file, "log/console.log"}, {level, info} ] }
        ] }
  ] },
{ mnesia,
    [
     %%{dir, "db"}
    ] }
].
