%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps_dir, "deps"}.
{deps, [
    { czmq, ".*", { git, "https://github.com/aseigo/erlang-czmq.git", { branch, "master" } } },
    { lager, ".*", { git, "https://github.com/basho/lager.git", { tag, "2.1.0" } } }
%%    { erlzmq, "3.*", { git, "git://github.com/zeromq/erlzmq2", { branch, "master" } } }
   ]}.

{erl_opts, [ %%no_debug_info,
            {parse_transform, lager_transform},
            {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'}
            ]}.
{sub_dirs, [
    "apps/bonnie"
 ]}.
{erl_opts, [debug_info, fail_on_warning]}.

%%{require_otp_vsn, "17"}.
{pre_hooks, [{clean, "rm -fr ebin priv erl_crash.dump"}]}.

