%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps_dir, "deps"}.
{deps, [
    jsx,
    lager,
    %% pull in the proper version of meck before jobs 0.3 gets around to pulling in the wrong version
    meck,
    { inert, ".*", { git, "https://github.com/msantos/inert.git" } },
    { procket, ".*", { git, "https://github.com/msantos/procket.git" } },
    riakc,
    poolboy,
    {'iso8601', ".*",    {git, "https://github.com/aseigo/iso8601.git", {branch, "support_decimal_seconds"}}}
   ]}.

{erl_opts, [ %%no_debug_info,
            {parse_transform, lager_transform},
            {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'}
            ]}.
{sub_dirs, [
    "apps/egara",
    "rel"
 ]}.
{erl_opts, [debug_info, fail_on_warning]}.
{ relx, [ { release, { egara, "0.1" }, [egara]},
          { dev_mode, false },
          { include_erts, false },
          { extended_start_script, true },
          { overlay, [
                      { mkdir, "log/sasl" },
                      { template, "priv/sys.config", "etc/sys.config" },
                      { copy, "priv/vm.args", "vm.args" }
                     ]
          }
                                                                                   ]
}.

{pre_hooks, [{clean, "rm -fr ebin priv erl_crash.dump"}]}.

