%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{ erl_opts, [
            { parse_transform, lager_transform },
            { platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE' },
            debug_info,
            fail_on_warning
            ]
}.

{ deps, [
    lager,
    jsx,
    { lager_syslog, "3.*", { git, "git://github.com/basho/lager_syslog.git", { tag, "3.0.1" } } },
    { inert, ".*", { git, "https://github.com/msantos/inert.git", { branch, "master" } } }, %{ tag, "0.6.2" } } },
    { procket, ".*", { git, "https://github.com/msantos/procket.git", { branch, "master" } } }, %{ tag, "0.7.0" } } },
    { riakc, ".*", { git, "https://github.com/basho/riak-erlang-client", { tag, "2.4.1" } } },
    poolboy,
    {'iso8601', ".*",    { git, "https://github.com/aseigo/iso8601.git", { branch, "support_decimal_seconds" } } },
    { eimap, ".*", { git, "https://git.kolab.org/diffusion/EI/eimap.git", { tag, "0.2.5" } } }
   ]
}.

{ sub_dirs, [ "apps/egara" ] }.
{ cover_enabled, true }.
{ relx, [ { release, { egara, "0.1" }, [egara]},
          { dev_mode, false },
          { include_erts, false },
          { extended_start_script, true },
          { overlay, [
                      { mkdir, "log/sasl" },
                      { template, "priv/sys.config", "etc/sys.config" },
                      { copy, "priv/vm.args", "vm.args" }
                     ]
          }
                                                                                   ]
}.

{pre_hooks, [{clean, "rm -fr ebin priv erl_crash.dump"}]}.

